@use "@/app/__var.scss" as *;

.desk {
    width: 100%;
    justify-content: center;
}

.column {
    background-color: $background-color;
    width: max-content;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    border-radius: 15px;
    padding: 32px 8px 8px;
    h3 {
        color: $text-color;
        font-size: 16px;
    }
    .task_list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .task {

    }
    .add {
        width: 100%;
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $secondary-background-color;
        border-radius: 15px;
        cursor: pointer;
        p {
            color: $text-color;
            font-size: 12px;
        }
        .plus {
            color: $text-color;
            font-size: 24px;
        }
    }
}