@use "@/app/_var" as *;

.footer {
    width: 100%;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
    margin-top: 16px;
    &__inner {
        width: 100%;
        padding: 24px 0;
        display: flex;
        justify-content: center;
        p {
            font-size: 14px;
            color: $text-color;
        }
    }
}