$background-color: #eb5600;
$secondary-background-color: #eca200;
$text-color: #f7f1f1;
$text-secondary-color: #1b1c1d;
$button-color: #f7f1f1;
$fz-1: 14px;
$fz-2: 16px;
$gap-1: 8px;
$gap-2: 16px;
$gap-3: 32px;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
$border-radius: 15px;